html,body{
    margin: 0 auto;
    width: 1200px;
    height: 70%;
}
#main{
    width: 70%;
    height:90%;
    margin: 0 auto;
    margin-left: 200px;
}
#example{
    width: 70%;
    height:100%;
    
    margin-left:250px;
    text-align: center;
}